<div class="login-page" style="background-color: #67bf4b">
    <div class="form">
        <form action="" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <!-- <span>{{'tittle'| translate}}</span> -->
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="text" placeholder="{{'LOGIN.username' | translate}}" id="username" formControlName="email" />
            <span style="color: red;" *ngIf="email && email.invalid && email.touched">{{'LOGIN.reqEmail' | translate}}</span>
            <input type="password" placeholder="{{'LOGIN.password' | translate}}" id="password" formControlName="password" />
            <span style="color: red;" *ngIf="password && password.invalid && password.touched">{{'LOGIN.reqPassword' | translate}}</span>
            <input [disabled]="formLogin.invalid" type="submit" name="name" value="{{'LOGIN.login' | translate}}" style="background-color: #00b241; color: white" id="login" />
            <p class="message">{{'LOGIN.notRegis' | translate}} <a href="">{{'LOGIN.create' | translate}}</a></p>
        </form>
        
    </div>
</div>
